#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena
DEB_DIVERT_FILES_debathena-afs-config += \
	/etc/openafs/afs.conf.client.debathena \
	/etc/openafs/CellAlias.debathena \
	/etc/openafs/CellServDB.debathena \
	/etc/openafs/SuidCells.debathena \
	/etc/openafs/ThisCell.debathena \
	/etc/openafs/cacheinfo.debathena
DEB_TRANSFORM_FILES_debathena-afs-config += \
	/etc/openafs/afs.conf.debathena
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

ATHENA = debian/CellAlias.debathena debian/CellServDB.debathena

common-build-indep:: $(ATHENA)

$(ATHENA): FORCE
	wget https://stuff.mit.edu/afs/athena.mit.edu/service/$(patsubst debian/%.debathena,%,$@) -O $@.new
	diff -q $@ $@.new  # Check that they are the same.
	rm -f $@.new

FORCE:

.PRECIOUS: $(ATHENA)
