#!/usr/bin/make -f

%:
	dh $@ --with=config-package

ATHENA = debian/CellAlias.debathena debian/CellServDB.debathena

override_dh_auto_build: $(ATHENA)

# We only use perl from a maintainer script, and only use modules in
# perl-base, so explicitly tell dh_perl that perl-base is fine
override_dh_perl:
	dh_perl -d

$(ATHENA):
	wget https://stuff.mit.edu/afs/athena.mit.edu/service/$(patsubst debian/%.debathena,%,$@) -O $@.new
	diff -q $@ $@.new  # Check that they are the same.
	rm -f $@.new

.PHONY: $(ATHENA)

.PRECIOUS: $(ATHENA)
